[plugin]
prepend_preloaders = [
    { name = "*.m4b", run = "mediainfo" },
    { mime = "{audio,video,image}/*", run = "mediainfo" },
]
prepend_previewers = [
    { name = "*.m4b", run = "mediainfo" },
    { mime = "{audio,video,image}/*", run = "mediainfo" },
    { name = "*.epub", run = "epub-preview" },
    { mime = "application/epub+zip", run = "epub-preview" },
]

[opener]
edit = [
    { run = 'nvim "$@"', block = true, desc = "Edit in nvim" }
]
audio = [
    { run = 'mpv --no-video --msg-level=ffmpeg=error "$@"', block = true, desc = "Play audio" }
]
video = [
    { run = 'mpv "$@"', orphan = true, desc = "Play video" }
]
image = [
    { run = 'xdg-open "$@"', orphan = true, desc = "View image" }
]
epub = [
    { run = 'foliate "$@"', orphan = true, desc = "Read in Foliate" }
]
pdf = [
    { run = 'zathura "$@"', orphan = true, desc = "Read in Zathura" }
]
fallback = [
    { run = 'xdg-open "$@"', orphan = true, desc = "Open with default app" }
]

[open]
append_rules = [
    { mime = "text/*", use = "edit" },
    { mime = "application/json", use = "edit" },
    { mime = "application/x-yaml", use = "edit" },
    { mime = "audio/*", use = "audio" },
    { name = "*.m4b", use = "audio" },
    { name = "*.m4a", use = "audio" },
    { mime = "video/*", use = "video" },
    { mime = "image/*", use = "image" },
    { name = "*.epub", use = "epub" },
    { mime = "application/epub+zip", use = "epub" },
    { mime = "application/pdf", use = "pdf" },
]
